python-dotenv
google-genai
openai
ultralytics
huggingface-hub
streamlit
scipy
tqdm
ollama
scikit-learn
sam3 @ git+https://github.com/facebookresearch/sam3.git
einops
pycocotools
opencv-python 
pillow 
decord 
psutil